/*
 * Ядро стилей для всего блога
 */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1em;
}

nav {
	background-color: #eee;
	padding: 1em;
	text-align: center;
}

nav a {
	margin: 0 10px;
	text-decoration: none;
	color: #333;
}

main {
	max-width: 800px;
	min-height: 400px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
}

footer {
	padding: 1em;
	background-color: #333;
	color: #fff;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}
.column-left {
	padding-left: 50px;
	width: 48%; /* Задайте ширину колонок по вашему усмотрению */
}
.column-right {
	text-align: center;
	width: 48%; /* Задайте ширину колонок по вашему усмотрению */
}

/*
 * Стили для списка файлов
 */

.file-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 20px; /* Расстояние между изображениями */
}
.file-item {
	text-align: center;
	width: 150px; /* Ширина блока с изображением */
}
.file-icon {
	width: 100%;
	height: auto;
}

/*
 * Стили для страницы добавления поста
 */

form {
	max-width: 600px;
	margin: 0 auto;
}
input[type="text"],
textarea,
input[type="file"],
input[type="datetime-local"],
input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
textarea {
	resize: none; /* Запрет изменения размера */
	overflow-y: hidden; /* Скрытие вертикального ползунка прокрутки */
	min-height: 150px; /* Высота для textarea */
}
input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
	background-color: #45a049;
}
/* Дополнительные стили для элемента input[type="file"] */
input[type="file"] {
	padding: 0;
}
/* Стили для подсказок (placeholders) */
::placeholder {
	color: #999;
}

/*
 * Стили для остальных кнопок
 */

input[type="submit"].button.add {
	background-color: #3498db; /* Зеленый цвет для кнопки "Добавить пост" */
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="submit"].button.add:hover {
	background-color: #2980b9; /* Зеленый цвет для кнопки "Добавить пост" */
}
input[type="submit"].button.delete {
	background-color: #e74c3c; /* Красный цвет для кнопки "Удалить пост" */
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="submit"].button.delete:hover {
	background-color: #c0392b; /* Красный цвет для кнопки "Удалить пост" */
}

/*
 * Стили для списка постов
 */

.post-item {
	/* Стили для article */
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}
.post-item a {
	text-decoration: none;
	color: #3498db; /* Синий цвет для ссылок на посты */
}
.post-item a:hover {
	text-decoration: underline;
}
.post-item .post-title {
	/* Стили для вложенного p с классом post-description */
	font-size: 24px;
}
.post-item .post-description {
	/* Стили для вложенного p с классом post-description */
	font-size: 16px;
	color: #333;
}
.post-item .post-date {
	/* Стили для вложенного p с классом post-date */
	font-size: 14px;
	color: #555;
}

/*
 * Стили для поста
 */

.post {
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	background-color: #fff;
}
.post .post-title {
	text-align: center;
	font-size: 36px;
}
.post .post-description {
	font-size: 18px;
}
.post .post-date {
	text-align: right;
	font-size: 16px;
}
.post .divider {
	border: 0;
	border-top: 1px solid #ddd;
	margin: 20px 0;
}
.post .post-content {
	font-size: 16px;
	line-height: 1.6;
}
