/*
 * Ядро стилей для всего блога
 */

body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 1em;
}

nav {
	background-color: #eee;
	padding: 1em;
	text-align: center;
}

nav a {
	margin: 0 10px;
	text-decoration: none;
	color: #333;
}

main {
	max-width: 800px;
	min-height: 400px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
}

footer {
	padding: 1em;
	background-color: #333;
	color: #fff;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}
.column-left {
	padding-left: 50px;
	width: 48%; /* Задайте ширину колонок по вашему усмотрению */
}
.column-right {
	text-align: center;
	width: 48%; /* Задайте ширину колонок по вашему усмотрению */
}

/*
 * Стили для списка файлов
 */

.file-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 20px; /* Расстояние между изображениями */
}
.file-item {
	text-align: center;
	width: 150px; /* Ширина блока с изображением */
}
.file-icon {
	width: 100%;
	height: auto;
}
.delete-icon {
    cursor: pointer;
    font-size: 20px;
    color: #e74c3c; /* Красный цвет для иконки удаления */
    margin-left: 5px;
}
.delete-icon:hover {
    color: #c0392b; /* Красный цвет для иконки удаления при наведении */
}

/*
 * Стили для страницы добавления поста
 */

form {
	max-width: 700px;
	margin: 0 auto;
}
input[type="text"],
textarea,
input[type="file"],
input[type="datetime-local"],
.toggle-wrapper,
input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
textarea {
	resize: none; /* Запрет изменения размера */
	overflow-y: hidden; /* Скрытие вертикального ползунка прокрутки */
	min-height: 150px; /* Высота для textarea */
}
input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
	background-color: #45a049;
}
/* Дополнительные стили для элемента input[type="file"] */
input[type="file"] {
	padding: 0;
}
/* Стили для подсказок (placeholders) */
::placeholder {
	color: #999;
}
/* Стили для переключателя */
.toggle-wrapper {
    display: flex;
    align-items: center;
}
.toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 34px;
    margin-right: 15px;
    background-color: #ddd;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.toggle:checked {
    background-color: #FF5500; /* Тёмно-оранжевый цвет при включенном тогле */
}
.toggle::before {
	position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s ease;
}
.toggle:checked::before {
    transform: translateX(26px);
}

/*
 * Стили для остальных кнопок
 */

input[type="submit"].button-add {
	background-color: #3498db; /* Зеленый цвет для кнопки "Добавить пост" */
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="submit"].button-add:hover {
	background-color: #2980b9; /* Зеленый цвет для кнопки "Добавить пост" */
}
input[type="submit"].button-file {
	background-color: #3498db; /* Зеленый цвет для кнопки "Добавить пост" */
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="submit"].button-file:hover {
	background-color: #2980b9; /* Зеленый цвет для кнопки "Добавить пост" */
}
input[type="submit"].button-update {
	background-color: #f1c40f; /* Красный цвет для кнопки "Удалить пост" */
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="submit"].button-update:hover {
	background-color: #d4ac0d; /* Красный цвет для кнопки "Удалить пост" */
}
input[type="submit"].button-delete {
	background-color: #e74c3c; /* Красный цвет для кнопки "Удалить пост" */
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="submit"].button-delete:hover {
	background-color: #c0392b; /* Красный цвет для кнопки "Удалить пост" */
}

/*
 * Стили для биографии
 */

.biography {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
.biography .title{
	text-align: center;
	font-size: 36px;
	font-weight: 700;
}
.biography .subtitle {
	font-weight: 700;
}
.biography .foto {
	text-align: center;
}

/*
 * Стили для списка проектов
 */

.project-item {
	/* Стили для article */
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}
.project-item a {
	text-decoration: none;
	color: #3498db; /* Синий цвет для ссылок на посты */
}
.project-item a:hover {
	text-decoration: underline;
}
.project-item .project-title {
	/* Стили для вложенного p с классом post-description */
	font-size: 24px;
}
.project-item .project-description {
	/* Стили для вложенного p с классом post-description */
	font-size: 16px;
	color: #333;
}
.project-item .project-date {
	/* Стили для вложенного p с классом post-date */
	font-size: 14px;
	color: #555;
}

/*
 * Стили для списка документаций
 */

.docs-item {
	/* Стили для article */
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}
.docs-item a {
	text-decoration: none;
	color: #3498db; /* Синий цвет для ссылок на посты */
}
.docs-item a:hover {
	text-decoration: underline;
}
.docs-item .docs-title {
	/* Стили для вложенного p с классом post-description */
	font-size: 24px;
}

/*
 * Стили для списка постов
 */

.post-item {
	/* Стили для article */
	margin-bottom: 20px;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
}
.post-item a {
	text-decoration: none;
	color: #3498db; /* Синий цвет для ссылок на посты */
}
.post-item a:hover {
	text-decoration: underline;
}
.post-item .post-title {
	/* Стили для вложенного p с классом post-description */
	font-size: 24px;
}
.post-item .post-description {
	/* Стили для вложенного p с классом post-description */
	font-size: 16px;
	color: #333;
}
.post-item .post-date {
	/* Стили для вложенного p с классом post-date */
	font-size: 14px;
	color: #555;
}

/*
 * Стили для поста
 */

.post {
	border: 1px solid #ddd;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 8px;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
}
.post .post-title {
	text-align: center;
	font-size: 36px;
}
.post .post-title-private {
	text-align: center;
	font-size: 36px;
	color: #FF5500;
}
.post .post-description {
	font-size: 18px;
}
.post .post-date {
	text-align: right;
	font-size: 16px;
}
.post .divider {
	border: 0;
	border-top: 1px solid #ddd;
	margin: 20px 0;
}
.post .post-content {
	font-size: 16px;
	line-height: 1.6;
}
