/*
 * Стили для поиска
 */

.search-wrapper {
	display: flex;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	padding: 1px;
}
.search-wrapper:focus-within {
  outline: auto; /* Используйте auto, чтобы получить стандартный стиль обводки */
}
.search-wrapper #searchScope,
.search-wrapper #searchInput {
	margin-bottom: 0px;
	border: 0px;
	outline: none; /* Убираем синюю обводку у textarea, input[type="text"], select */
}

/* Стили для поля выбора области поиска */
#searchScope {
	width: 100px;
	margin-right: 10px;
	padding: 5px;
}
/* Стили для поля ввода поискового запроса */
#searchInput {
	padding: 5px;
}

/* Стили для модального окна результатов поиска */
.search-results-modal {
	display: none;
	position: absolute;
	top: auto;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	z-index: 1;
	padding: 0px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Стили для контейнера результатов поиска */
.search-results-container {
	width: 700px;
	height: 300px;
	padding: 10px 20px 10px 10px;
	overflow-y: auto;
}
/* Стили для элемента поста в результатах поиска */
.search-results-container article {
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
/* Стили для заголовка поста в результатах поиска */
.search-results-container article a {
	text-decoration: none;
	color: #333;
}
.search-results-container article h2 {
	margin: 0;
	font-size: 1.5em;
}
/* Стили для описания поста в результатах поиска */
.search-results-container article p {
	margin: 0;
	color: #666;
}
/* Стили для тегов поста в результатах поиска */
.search-results-container article p:last-child {
	font-style: italic;
	color: #999;
}
