/*
 * Стили для страницы добавления поста
 */

form {
	max-width: 700px;
	margin: 0 auto;
}
input[type="text"],
textarea,
.content-wrapper,
input[type="file"],
select,
input[type="datetime-local"],
input[type="submit"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
textarea {
	resize: none; /* Запрет изменения размера */
	overflow-y: hidden; /* Скрытие вертикального ползунка прокрутки */
	min-height: 350px; /* Высота для textarea */
}
input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
	background-color: #45a049;
}
input[type="submit"]:last-child {
    margin-bottom: 0px; /* Отступ справа между всеми элементами кроме последнего */
}
/* Дополнительные стили для элемента input[type="file"] */
input[type="file"] {
	padding: 0;
}
/* Стили для подсказок (placeholders) */
::placeholder {
	color: #999;
}
/* Стили для инструмента вставки изображений в текст */
.content-wrapper {
	padding: 1px;
	background-color: #fff;
}
.content-wrapper:focus-within {
  outline: auto; /* Используйте auto, чтобы получить стандартный стиль обводки */
}
.content-wrapper textarea,
.content-wrapper input[type="text"],
.content-wrapper select {
	margin-bottom: 0px;
	border: 0px;
	outline: none; /* Убираем синюю обводку у textarea, input[type="text"], select */
}
.content-wrapper .content-divider {
	border: 0;
	border-top: 1px solid #ddd;
}
