{% extends 'base.html' %}

{% block title %}Арти - Блог Калиновського{% endblock %}

{% block scripts %}
<script src="resources/scripts/arts.js"></script>
{% endblock %}

{% block content %}
	<main>
		{% if is_admin %}
			<form method="post" action="{{ url_for('upload_art') }}" enctype="multipart/form-data">
				<input type="file" id="artInput" name="arts" multiple>

				<input class="button-add" type="submit" value="Додати файл">
			</form>
		{% endif %}

		<ul class="file-list">
			{% for art in arts %}
				<li class="file-item">
					<a href="javascript:void(0);" class="open-modal" data-index="{{ loop.index - 1 }}" data-img="{{ url_for('full_image', filename=art.name) }}">
						<div class="thumbnail-container">
							<img class="file-icon" src="{{ url_for('thumbnail', filename=art.name) }}" alt="{{ art.name }}" width="128" height="128">
						</div>
					</a>
					{% if is_admin %}
						<span class="delete-icon" onclick="deleteArt('{{ art.name }}')">🗑️</span>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

		<div id="myModal" class="modal">
			<span class="close">&times;</span>
			<span class="download" onclick="downloadImage()">&#8595;</span>
			<span class="prev" onclick="plusSlides(-1)">&#10094;</span>
			<img class="modal-content" id="img01" src="">
			<span class="next" onclick="plusSlides(1)">&#10095;</span>
		</div>

		<!-- Всплывающее сообщение -->
		<div id="snackbar"></div>
	</main>
{% endblock %}
