<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/resources/images/favicon.ico" type="image/x-icon">
		<title>{% block title %}{% endblock %}</title>
		<!--Шрифты-->
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
		<!--Стили-->
		<link href="/resources/style/base.css" rel="stylesheet">
		<link href="/resources/style/settings_panel.css" rel="stylesheet">
		{% block styles %}{% endblock %}
		<!--Скрипты-->
		<script src="/resources/scripts/base.js"></script>
		<script src="/resources/scripts/settings.js"></script>
		{% block scripts %}{% endblock %}
	</head>
	<body>
		<header>
			<div class="avatar-container">
				<img src="/resources/images/avatar.jpg" alt="Аватарка">
			</div>
			<div class="header-text">
				<h1>Калиновський Валентин</h1>
				<h2>Мій Особистий Блог</h2>
				{% if is_admin %}
					<p>Привіт, Вальок!</p>
				{% endif %}
			</div>
		</header>

		<nav id="mainNav">
			<a href="/">Головна</a>
			<a href="/autobiography">Автобіографія</a>
			<a href="/projects">Проекти</a>
			<a href="javascript:void(0);" id="docsBtn">Документації</a>
			<a href="javascript:void(0);" id="blogBtn">Блог</a>
			<a href="javascript:void(0);" id="viaryBtn">Відео-блог</a>
			<a href="javascript:void(0);" id="galleryBtn">Галерея</a>

			<div id="docsMenu">
				<a href="/docs/ALGOR/index.html">ALGOR</a>
				<a href="/docs/mighty_logger/index.html">mighty_logger</a>
			</div>
			<div id="blogMenu">
				<a href="/post_diary">Щоденник</a>
				<a href="/dream_diary">Соннік</a>
			</div>
			<div id="viaryMenu">
				<a href="{{ url_for('viary', playlist_id='PL2MbnZfZV5Ku1yAsuDXz3h4bCOYDn2eJh') }}">Блог</a>
				<!--<a href="{{ url_for('viary', playlist_id='PL2MbnZfZV5KuA18e1UD6Aa4in0Rm0doDk') }}">Азурка</a>-->
			</div>
			<div id="galleryMenu">
				<a href="/arts">Арти</a>
				<a href="/screenshots">Скріни</a>
				<a href="/photos">Фотографії</a>
				<a href="/codesnaps">CodeSnaps</a>
			</div>
		</nav>

		<div class="settings-panel">
			<div class="toggle-wrapper" toggle-color="rgba(170, 0, 0, 0.8)">
				<input type="checkbox" class="toggle" id="styling" name="private" onclick="styling(this)">
				<label for="styling" class="toggle-icon">😱 🧐</label>
			</div>
			<div class="toggle-wrapper" toggle-color="rgba(255, 85, 0, 0.8)">
				<input type="checkbox" class="toggle" id="meming" name="private" onclick="meming(this)">
				<label for="meming" class="toggle-icon">🥱 😁</label>
			</div>
			<div class="toggle-wrapper" toggle-color="rgba(0, 170, 0, 0.8)">
				<input type="checkbox" class="toggle" id="theming" name="private" onclick="theming(this)">
				<label for="theming" class="toggle-icon">☀️ 🌙</label>
			</div>
			<div class="toggle-wrapper" toggle-color="rgba(0, 170, 0, 0.8)">
				<input type="checkbox" class="toggle" id="framing" name="private" onclick="framing(this)">
				<label for="framing" class="toggle-icon">🎨 ☁️</label>
			</div>
		</div>

		{% block content %}{% endblock %}

		<footer>
			<div class="footer-container">
				<div class="column-left">
					<h3>&copy; 2023-2024 Калиновський Валентин</h3>
					<p>Студент-програміст</p>
					<p meme>23 роки, холостий</p>
					<p>3 роки стажу програмування</p>
					<p>
						<img alt="Static Badge" src="https://img.shields.io/badge/Gmail-nakama3942?style=for-the-badge&logo=gmail&label=nakama3942%40gmail.com&color=202020">
					</p>
				</div>

				<div class="column-right">
					<p>
						<a href="https://www.youtube.com/channel/UCC5H74aK815Cdwgl_AKPJQw"><img alt="Static Badge" src="https://img.shields.io/badge/YouTube-Nakama3942?style=for-the-badge&logo=youtube&color=ff0000"></a>
					</p>

					<p>
						<a href="https://github.com/Nakama3942"><img alt="Static Badge" src="https://img.shields.io/badge/GitHub-Nakama3942?style=for-the-badge&logo=github&color=181717"></a>
						<a href="https://pypi.org/user/Nakama3942/"><img alt="Static Badge" src="https://img.shields.io/badge/PyPi-Nakama3942?style=for-the-badge&logo=pypi&logoColor=ffffff&color=3775a9"></a>
						<a href="https://www.codewars.com/users/Nakama3942"><img alt="Static Badge" src="https://img.shields.io/badge/CodeWars-Nakama3942?style=for-the-badge&logo=codewars&color=b1361e"></a>
					</p>

					<p>
						<a href="https://steamcommunity.com/id/nakama3942/"><img alt="Static Badge" src="https://img.shields.io/badge/Steam-nakama3942?style=for-the-badge&logo=steam&color=000000"></a>
						<a href="https://twitter.com/Nakama3942"><img alt="Static Badge" src="https://img.shields.io/badge/Twitter-Nakama3942?style=for-the-badge&logo=x&color=000000"></a>
						<a href="https://t.me/nakama3942"><img alt="Static Badge" src="https://img.shields.io/badge/Telegram-nakama3942?style=for-the-badge&logo=telegram&color=%2326a5e4"></a>
						<a href="https://discord.com/invite/pWTVBVtbW4"><img alt="Static Badge" src="https://img.shields.io/badge/Discord-nakama3942?style=for-the-badge&logo=discord&logoColor=ffffff&color=5865f2"></a>
					</p>
				</div>
			</div>
		</footer>
	</body>
</html>
