<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
		<!--Шрифты-->
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
		<!--Стили-->
		<link href="../resources/style/style.css" rel="stylesheet">
		{% block styles %}{% endblock %} <!--Задел на будущее-->
		<!--Скрипты-->
		<script src="/resources/scripts/base.js"></script>
		{% block scripts %}{% endblock %}
	</head>
	<body>
		{% include 'header.html' %}

		{% include 'nav.html' %}

		{% block content %}{% endblock %}

		{% include 'footer.html' %}
	</body>
</html>
