<article class="biography">
	<h1 class="title">Про себе</h1>
	<p class="foto">
		<img src="../resources/images/Me.jpg" alt="Моя фотография" width="300px">
	</p>
	<p>Моє ім'я Калиновський Валентин, друзі звуть мене просто Валік. Розкажу трохи про себе.</p>
	<p>Народився я у 2001 році. Познайомився з комп'ютером у 5 років, з 10 років почав самостійно вивчати комп'ютерну грамотність (інтернету тоді ще не було, а в маленькому місті в ньому не було потреби, тому мені довелося вчитися на своїх помилках). Python став моєю першою мовою. Я почав вивчати його ще в січні 2018 року під час зимових канікул, але далеко не зайшов (не міг багато навчатися), а потім повернувся в училище і був змушений закинути його на наступні півтора року. У 2020 році я вступила до Центральноукраїнського Національного Технічного Університету на спеціальність <i>Комп'ютерна інженерія</i>. На даний момент я активно вивчаю C++, Python і фреймворк Qt.</p>
	<h3 class="subtitle">♟️ Хобі</h3>
	<p>Моє основне заняття — програмування, але крім цього я ще колись займався Оригамі (12-16 років), малював (10-12 років, потім інколи трохи малював до 17 років) і грав у <a href="https://www.chess.com/member/nakama3942">шахи ♟️</a> (з дитинства і дотепер). Оригамі розвиває мислення і пам'ять, малювання розвиває творче око, а шахи розвивають мислення і логіку. Всі ці навички приходяться мені в програмуванні.</p>
	<h3 class="subtitle">🧠 Навички</h3>
	<p align='center'>
		<img alt="Static Badge" src="https://img.shields.io/badge/C-A8B9CC?style=for-the-badge&logo=c&logoColor=000000&color=A8B9CC">
		<img alt="Static Badge" src="https://img.shields.io/badge/C%2B%2B-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=ffffff&color=00599C">
		<img alt="Static Badge" src="https://img.shields.io/badge/C%23-512BD4?style=for-the-badge&logo=.net&logoColor=ffffff&color=512BD4">
		<img alt="Static Badge" src="https://img.shields.io/badge/Kotlin-7F52FF?style=for-the-badge&logo=kotlin&logoColor=ffffff&color=7F52FF">
		<img alt="Static Badge" src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=ffffff&color=3776AB">
		<img alt="Static Badge" src="https://img.shields.io/badge/Rust-000000?style=for-the-badge&logo=rust&logoColor=ffffff&color=000000">
		<img alt="Static Badge" src="https://img.shields.io/badge/HTML-E34F26?style=for-the-badge&logo=html5&logoColor=ffffff&color=E34F26">
		<img alt="Static Badge" src="https://img.shields.io/badge/CSS-1572B6?style=for-the-badge&logo=css3&logoColor=ffffff&color=1572B6">
		<img alt="Static Badge" src="https://img.shields.io/badge/QSS-1572B6?style=for-the-badge&logo=css3&logoColor=ffffff&color=1572B6">
		<img alt="Static Badge" src="https://img.shields.io/badge/Markdown-000000?style=for-the-badge&logo=markdown&logoColor=ffffff&color=000000">
	</p>
	<h3 class="subtitle">🛠️ Інструменти</h3>
	<p align='center'>
		<img alt="Static Badge" src="https://img.shields.io/badge/PyCharm-000000?style=for-the-badge&logo=pycharm&logoColor=ffffff&color=000000">
		<img alt="Static Badge" src="https://img.shields.io/badge/CLion-000000?style=for-the-badge&logo=clion&logoColor=ffffff&color=000000">
		<img alt="Static Badge" src="https://img.shields.io/badge/IntelliJ%20IDEA-000000?style=for-the-badge&logo=intellij%20idea&logoColor=ffffff&color=000000">
		<img alt="Static Badge" src="https://img.shields.io/badge/Android%20Studio-3DDC84?style=for-the-badge&logo=android%20studio&logoColor=ffffff&color=3DDC84">
		<img alt="Static Badge" src="https://img.shields.io/badge/Qt-41CD52?style=for-the-badge&logo=qt&logoColor=ffffff&color=41CD52">
		<img alt="Static Badge" src="https://img.shields.io/badge/VSCode-007ACC?style=for-the-badge&logo=visual%20studio%20code&logoColor=ffffff&color=007ACC">
		<img alt="Static Badge" src="https://img.shields.io/badge/LibreOffice-18A303?style=for-the-badge&logo=libreoffice&logoColor=ffffff&color=18A303">
	</p>
	<h3 class="subtitle">🖥️ Працюю для</h3>
	<p align='center'>
		<img alt="Static Badge" src="https://img.shields.io/badge/Windows-0078D4?style=for-the-badge&logo=windows&logoColor=ffffff&color=0078D4">
		<img alt="Static Badge" src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=000000&color=FCC624">
		<img alt="Static Badge" src="https://img.shields.io/badge/KDE-1D99F3?style=for-the-badge&logo=kde&logoColor=ffffff&color=1D99F3">
		<img alt="Static Badge" src="https://img.shields.io/badge/Bash-4EAA25?style=for-the-badge&logo=gnu%20bash&logoColor=ffffff&color=4EAA25">
		<img alt="Static Badge" src="https://img.shields.io/badge/PyPi-3775A9?style=for-the-badge&logo=pypi&logoColor=ffffff&color=3775A9">
	</p>
	<h3 class="subtitle">📚 Вивчаю</h3>
	<p>Я хочу чогось нового. Я вивчав C++ протягом 2,5 років, а зараз перейшов на Python. Я також розглядаю ще кілька мов. Основною графічною структурою є Qt. Також знайомий з Javafx і WindowsForms.</p>
	<h3 class="subtitle">👅 Мова</h3>
	<p>Моя рідна мова: 🇺🇦</p>
	<p>Я вивчаю: 🇯🇵 🇬🇧 </p>
</article>
