<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Щоденник</title>
	<link rel="stylesheet" href="../resources/style/style.css">
	{% include 'fonts.html' %}
</head>
<body>

	{% include 'header.html' %}

	{% include 'nav.html' %}

	<main>
		{% if is_admin %}
			<form method="post" action="{{ url_for('new_post') }}">
				<input class="button-add" type="submit" value="Додати пост">
			</form>
			<form method="post" action="{{ url_for('attached_files') }}">
				<input class="button-file" type="submit" value="Файли постів">
			</form>
		{% endif %}

		{% set post_list_content=post_contents %}
		{% include 'post_list.html' %}
	</main>

	{% include 'footer.html' %}

</body>
</html>
