<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Щоденник</title>
	<link rel="stylesheet" href="../resources/style/style.css">
</head>
<body>

	{% include 'header.html' %}

	{% include 'nav.html' %}

	<main>
		{% if is_admin %}
			<form method="post" action="{{ url_for('new_post') }}">
				<button type="submit">Додати пост</button>
			</form>
		{% endif %}

		{% for metadata in post_contents %}
			<article>
				<a href="{{ url_for('post', post_title=metadata['title']) }}">
					<h2>{{ metadata['title'] }}</h2>
				</a>
				<p>{{ metadata['description'] }}</p>
				<p>Дата публікації: {{ metadata['post_datetime'] }}</p>
			</article>
		{% endfor %}
	</main>

	{% include 'footer.html' %}

</body>
</html>
