<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Щоденник</title>
	<link rel="stylesheet" href="../resources/style/style.css">
</head>
<body>

	{% include 'header.html' %}

	{% include 'nav.html' %}

	<main>
		{% if is_admin %}
			<a href="/new_post">Додати пост</a>
		{% endif %}

		{% for metadata in post_contents %}
			<article>
				<a href="{{ url_for('post', post_id=metadata[0]['name']) }}">
					<h2>{{ metadata[1]['title'] }}</h2>
				</a>
				<p>{{ metadata[3]['description'] }}</p>
				<p>Дата публікації: {{ metadata[2]['datetime'].strftime('%Y-%m-%d %I:%M %p') }}</p>
			</article>
		{% endfor %}
	</main>

	{% include 'footer.html' %}

</body>
</html>
