{% extends 'base.html' %}

{% block title %}Новий пост - Блог Калиновського{% endblock %}

{% block styles %}
		<link href="/resources/styles/light/frame.css" rel="stylesheet">
		<link href="/resources/styles/light/diary_entry.css" rel="stylesheet">
		<link href="/resources/styles/light/form.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
		<script src="/resources/scripts/content_script.js"></script>
		<script src="/resources/scripts/importance_adapter.js"></script>
{% endblock %}

{% block content %}
		<main>
			<div class="article-container" data-importance="{{ form.importance.data }}">
				<article class="diary-entry">
					<form id="dreamForm" action="{{ url_for('save_dream_route') }}" method="post" enctype="multipart/form-data">
						{{ form.hidden_tag() }}

						{{ form.title(placeholder="Заголовок", required=true) }}
						{{ form.mood(placeholder="Що ти думаєш про сон? Який настрій після сну?", required=true) }}
						{{ form.tags(placeholder="Теги", required=true) }}
						{{ form.importance(required=true) }}
						{{ form.dreamed_at(type="datetime-local", required=true) }}

						<hr class="divider">

						{{ form.content(placeholder="Сновидіння", oninput="auto_grow(this)", required=true) }}

						{{ form.submit() }}
					</form>
				</article>
			</div>
		</main>
{% endblock %}
