{% extends 'base.html' %}

{% block title %}{{ dream_content['title'] }} - Блог Калиновського{% endblock %}

{% block styles %}
		<link href="/resources/styles/light/frame.css" rel="stylesheet">
		<link href="/resources/styles/light/diary_entry.css" rel="stylesheet">
		<link href="/resources/styles/light/form.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
		<script src="/resources/scripts/content_script.js"></script>
		<script src="/resources/scripts/importance_adapter.js"></script>
{% endblock %}

{% block content %}
		<main>
			<div class="article-container" data-importance="{{ form.importance.data }}">
				<article class="diary-entry">
					<form id="dreamForm" action="{{ url_for('update_dream_route', dream_title=dream_content['title']) }}" method="post" enctype="multipart/form-data">
						{{ form.hidden_tag() }}

						<h2 class="title">{{ dream_content['title'] }}</h2>

						{{ form.mood(placeholder="Що ти думаєш про сон? Який настрій після сну?", required=true) }}
						{{ form.tags(placeholder="Теги", required=true) }}
						{{ form.importance(required=true) }}
						{{ form.dreamed_at(type="datetime-local", value=dream_content['dreamed_at']|default(""), required=true) }}

						<hr class="divider">

						<div class="content-wrapper">
							<div class="content_button-wrapper">
								<button class="content-button" onclick="formatText('bold')" title="Жирний">
									<img src="/resources/icons/buttons/format_bold.svg" alt="Жирний">
								</button>
								<button class="content-button" onclick="formatText('italic')" title="Курсив">
									<img src="/resources/icons/buttons/format_italic.svg" alt="Курсив">
								</button>
								<button class="content-button" onclick="formatText('underline')" title="Підкреслення">
									<img src="/resources/icons/buttons/format_underlined.svg" alt="Підкреслення">
								</button>
								<button class="content-button" onclick="formatText('spoiler')" title="Спойлер">
									<img src="/resources/icons/buttons/warning.svg" alt="Спойлер">
								</button>
								<button class="content-button" onclick="formatText('censor')" title="Цензура">
									<img src="/resources/icons/buttons/invisible.svg" alt="Цензура">
								</button>
							</div>
							<hr class="content-divider">
							{{ form.content(placeholder="Сновидіння", oninput="auto_grow(this)", required=true) }}
						</div>

						{{ form.submit() }}
					</form>
				</article>
			</div>
		</main>
{% endblock %}
