{% extends 'base.html' %}

{% block title %}Файли постів - Блог Калиновського{% endblock %}

{% block scripts %}
	<script src="/resources/scripts/files.js"></script>
{% endblock %}

{% block content %}
	<main>
		{% if is_admin %}
			<div class="button-container">
				<input type="file" id="fileInput" name="files" multiple>
				<button class="button-add" onclick="uploadFiles()">Додати файл</button>
			</div>
		{% endif %}

		<ul class="file-list">
			{% for file in files %}
				<li class="file-item">
					<a href="javascript:void(0);" class="open-modal" file-name="{{ file.name }}" file-posts-titles="{{ file.posts_titles|safe }}">
						<div class="thumbnail-container">
							<img class="file-icon" src="{{ url_for('static', filename='icons/' + file.type + '.png') }}" alt="{{ file.type }} Icon" width="128" height="128">
						</div>
						{{ file.name }}
					</a>
				</li>
			{% endfor %}
		</ul>

		<div id="myModal" class="modal">
			<span class="close">&times;</span>
			<span class="download" onclick="downloadFile()">&#8595;</span>
			<span class="delete" onclick="deleteFile()">🗑️</span>
			<p class="modal-content" id="postsList"></p>
		</div>
	</main>
{% endblock %}
