<footer>
	<div class="footer-container">
		<div class="column-left">
			<h3>&copy; 2023-2024 Калиновський Валентин</h3>
			<p>Студент-програміст</p>
			<p>23 роки, холостий</p>
			<p>3 роки стажу програмування</p>
			<p>
				<img alt="Static Badge" src="https://img.shields.io/badge/Gmail-nakama3942?style=for-the-badge&logo=gmail&label=nakama3942%40gmail.com&color=202020">
			</p>
		</div>

		<div class="column-right">
			<p>
				<a href="https://www.youtube.com/channel/UCC5H74aK815Cdwgl_AKPJQw"><img alt="Static Badge" src="https://img.shields.io/badge/YouTube-Nakama3942?style=for-the-badge&logo=youtube&color=ff0000"></a>
			</p>

			<p>
				<a href="https://github.com/Nakama3942"><img alt="Static Badge" src="https://img.shields.io/badge/GitHub-Nakama3942?style=for-the-badge&logo=github&color=181717"></a>
				<a href="https://pypi.org/user/Nakama3942/"><img alt="Static Badge" src="https://img.shields.io/badge/PyPi-Nakama3942?style=for-the-badge&logo=pypi&logoColor=ffffff&color=3775a9"></a>
				<a href="https://www.codewars.com/users/Nakama3942"><img alt="Static Badge" src="https://img.shields.io/badge/CodeWars-Nakama3942?style=for-the-badge&logo=codewars&color=b1361e"></a>
			</p>

			<p>
				<a href="https://steamcommunity.com/id/nakama3942/"><img alt="Static Badge" src="https://img.shields.io/badge/Steam-nakama3942?style=for-the-badge&logo=steam&color=000000"></a>
				<a href="https://twitter.com/Nakama3942"><img alt="Static Badge" src="https://img.shields.io/badge/Twitter-Nakama3942?style=for-the-badge&logo=x&color=000000"></a>
				<a href="https://t.me/nakama3942"><img alt="Static Badge" src="https://img.shields.io/badge/Telegram-nakama3942?style=for-the-badge&logo=telegram&color=%2326a5e4"></a>
				<a href="https://discord.com/invite/pWTVBVtbW4"><img alt="Static Badge" src="https://img.shields.io/badge/Discord-nakama3942?style=for-the-badge&logo=discord&logoColor=ffffff&color=5865f2"></a>
			</p>
		</div>
	</div>
</footer>