<nav id="mainNav">
	<a href="/">Головна</a>
	<a href="/autobiography">Автобіографія</a>
	<a href="/projects">Проекти</a>
	<a href="javascript:void(0);" id="docsBtn">Документації</a>
	<a href="javascript:void(0);" id="blogBtn">Блог</a>
	<a href="javascript:void(0);" id="viaryBtn">Відео-блог</a>
	<a href="javascript:void(0);" id="galleryBtn">Галерея</a>
	<a href="javascript:void(0);" id="codeBtn">Код</a>

	<div id="docsMenu">
		<a href="/docs/ALGOR/index.html">ALGOR</a>
		<a href="/docs/mighty_logger/index.html">mighty_logger</a>
	</div>
	<div id="blogMenu">
		<a href="/post_diary">Щоденник</a>
		<a href="/dream_diary">Соннік</a>
	</div>
	<div id="viaryMenu">
		<a href="{{ url_for('viary', playlist_id='PL2MbnZfZV5Ku1yAsuDXz3h4bCOYDn2eJh') }}">Блог</a>
<!--		<a href="{{ url_for('viary', playlist_id='PL2MbnZfZV5KuA18e1UD6Aa4in0Rm0doDk') }}">Азурка</a>-->
	</div>
	<div id="galleryMenu">
		<a href="/arts">Арти</a>
		<a href="/screenshots">Скріни</a>
		<a href="/photos">Фотографії</a>
	</div>
	<div id="codeMenu">
		<a href="/gists">Gist</a>
		<a href="/codesnaps">CodeSnap</a>
	</div>
</nav>
