<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ post_content['title'] }}</title>
	<link rel="stylesheet" href="../resources/style/style.css">
</head>
<body>

	{% include 'header.html' %}

	{% include 'nav.html' %}

	<main>
		<article>
			<!-- Добавьте кнопку удаления -->
			{% if is_admin %}
				<form method="post" action="{{ url_for('delete_post', post_title=post_content['title']) }}">
					<button type="submit">Видалити пост</button>
				</form>
			{% endif %}
			<p>{{ post_content['description'] }}</p>
			<p>Дата публікації: {{ post_content['post_datetime'] }}</p>
<!--			<p>{{ post_content['files'] }}</p>-->
			<ul class="file-list">
				{% for file in post_content['files'] %}
					<li class="file-item">
						<a href="{{ url_for('uploaded_file', filename=file.name) }}" download="/files/{{ file.name }}">
							<img class="file-icon" src="{{ url_for('static', filename='icons/' + file.type + '.png') }}" alt="{{ file.type }} Icon" width="128" height="128">
							{{ file.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
			<hr>
			<p>{{ post_content['content']|safe }}</p>
		</article>
	</main>

	{% include 'footer.html' %}

</body>
</html>
