{% for post_metadata in posts_content %}
	{% if not post_metadata['is_private'] or is_admin %}
		<div class="article-container" data-importance="{{ post_metadata['importance'] }}">
			<article class="diary-item">
				<a href="{{ url_for('post', post_title=post_metadata['title']) }}">
					<h2 class="entry-title">{{ post_metadata['title'] }}</h2>
				</a>
				<p class="entry-description">{{ post_metadata['description'] }}</p>
				<p class="entry-date">Дата написання: {{ post_metadata['created_at'] }}</p>
			</article>
		</div>
	{% endif %}
{% endfor %}