{% extends 'base.html' %}

{% block title %}Проекти - Блог Калиновського{% endblock %}

{% block styles %}
		<link href="/resources/styles/light/frame.css" rel="stylesheet">
		<link href="/resources/styles/light/project_list.css" rel="stylesheet">
{% endblock %}

{% block content %}
		<main>
			{% for project_content in projects_content %}
			<div class="article-container" data-importance="{{ project_content['type'] }}">
				<article class="project-item">
					<a href="{{ project_content['link'] }}">
						<h2 class="project-title">{{ project_content['name'] }}</h2>
					</a>
					<p class="project-description">{{ project_content['desc']|safe }}</p>
					<p class="project-date">{{ project_content['time'] }}</p>
				</article>
			</div>
			{% endfor %}
		</main>
{% endblock %}
