<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ post_content['title'] }}</title>
	<link rel="stylesheet" href="../resources/style/style.css">
	<script src="resources/scripts/new_post.js"></script>
	{% include 'fonts.html' %}
</head>
<body>

	{% include 'header.html' %}

	{% include 'nav.html' %}

	<main>
		<article class="post">
			<form action="{{ url_for('update_post_route', post_title=post_content['title']) }}" method="post" enctype="multipart/form-data">
				{% if not post_content['is_private'] %}
					<h2 class="post-title">{{ post_content['title'] }}</h2>
				{% else %}
					<h2 class="post-title-private">{{ post_content['title'] }}</h2>
				{% endif %}

				<input type="text" name="description" placeholder="Опис" required value="{{ post_content['description'] }}">

				<p class="post-date">Дата публікації: {{ post_content['post_datetime'] }}</p>

				<hr class="divider">

				<textarea name="content" placeholder="Текст" oninput="auto_grow(this)" required>{{ post_content['content'] }}</textarea>

				<!-- Список выбранных файлов -->
				<ul id="fileList" class="file-list">
					{% for file in post_content['files'] %}
						<li class="file-item">
							<a href="{{ url_for('uploaded_file', filename=file.name) }}" download="/files/{{ file.name }}">
								<img class="file-icon" src="{{ url_for('static', filename='icons/' + file.type + '.png') }}" alt="{{ file.type }} Icon" width="128" height="128">
								{{ file.name }}
							</a>
						</li>
					{% endfor %}
				</ul>

				<div class="toggle-wrapper">
					<input type="checkbox" class="toggle" id="private" name="private" {% if post_content['is_private'] %}checked{% endif %}>
					<label for="private">Зробити приватним</label>
				</div>

				<input type="submit" value="Зберегти пост">
			</form>
		</article>
	</main>

	{% include 'footer.html' %}

</body>
</html>