<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ post_content['title'] }} - Блог Калиновського</title>
	<link rel="stylesheet" href="../resources/style/style.css">
	<script src="resources/scripts/new_post.js"></script>
	{% include 'fonts.html' %}
</head>
<body>

	{% include 'header.html' %}

	{% include 'nav.html' %}



	{% include 'footer.html' %}

</body>
</html>

{% extends 'base.html' %}

{% block title %}{{ post_content['title'] }} - Блог Калиновського{% endblock %}

{% block content %}
	<main>
		<article class="post">
			<form action="{{ url_for('update_post_route', post_title=post_content['title']) }}" method="post" enctype="multipart/form-data">
				{% if not post_content['is_private'] %}
					<h2 class="post-title">{{ post_content['title'] }}</h2>
				{% else %}
					<h2 class="post-title-private">{{ post_content['title'] }}</h2>
				{% endif %}

				<input type="text" name="description" placeholder="Опис" required value="{{ post_content['description'] }}">

				<p class="post-date">Дата публікації: {{ post_content['post_datetime'] }}</p>

				<hr class="divider">

				<textarea name="content" placeholder="Текст" oninput="auto_grow(this)" required>{{ post_content['content'] }}</textarea>

				<select name="files" id="files" multiple>
					{% for file in files %}
						<option value="{{ file.id }}" {% if {'name': file['name'], 'type': file['type']} in post_content['files'] %}selected{% endif %}>{{ file.name }}</option>
					{% endfor %}
				</select>

				<input type="submit" value="Зберегти пост">
			</form>
		</article>
	</main>
{% endblock %}
