{% extends 'base.html' %}

{% block title %}Відео-щоденник - Блог Калиновського{% endblock %}

{% block styles %}
		<link href="/resources/styles/light/frame.css" rel="stylesheet">
		<link href="/resources/styles/light/video_container.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
		<script src="/resources/scripts/viary.js"></script>
{% endblock %}

{% block content %}
		<main id="videoBlog" youtube-api-key="{{ youtube_api_key }}" playlist-id="{{ playlist_id }}">
			<!-- Здесь будут плееры -->
		</main>
{% endblock %}
