<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Відео-щоденник</title>
	<link rel="stylesheet" href="resources/style/style.css">
	<script src="resources/scripts/viary.js"></script>
	{% include 'fonts.html' %}
</head>
<body data-api-key="{{ api_key }}">

	{% include 'header.html' %}

	{% include 'nav.html' %}

	<main id="videoBlog">
        <!-- Здесь будут плееры -->
    </main>

	{% include 'footer.html' %}

</body>
</html>